/* Existing styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #383838;
}

/* Title */
#title {
    text-align: center;
    font-size: 37px;
}
#mobiletitle {
    display: none;
    color: white;
    font-size: 25px;
    margin-left: 20px;
}
/* Topnav */
.topnav {
    position: sticky;
    top: 0px;
    background-color: #333;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    z-index: 2;
}

.topnav-content {
    display: flex;
    align-items: center; /* Center items vertically */
}

.navbar {
    list-style-type: none;
    overflow: hidden; /* Hide the content when collapsed */
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navelement {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

.navelement:hover {
    color:#4CAF50;
}

/* Hamburger menu */
.hamburger-menu {
    display: none;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/* Sorting printerdata buttons */
.sortable:hover {
    cursor: pointer;
}
.sortable {
    cursor: pointer;
    background-color: #3d3d3d;
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Refresh button */
#refreshButton:hover{
    cursor: pointer;
}
#refreshButton {
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Search field */
#searchInput {
    background-color: #696969;
    border: 2px solid black;
    width: 100%;
    padding: 25px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition: padding 0.3s ease, font-size 0.3s ease;;
    font-size: large;
    color: white;
    outline: none;
}

#searchInput::placeholder {
    color: #cccccc;
}

#searchInput:focus {
    padding: 30px;
    font-size: larger;
}

.underSearchDiv {
    display: flex;
    flex-direction: row;
    position: relative;
}

#updatedAutoText {
    position: absolute;
    margin-right: 15px;
    right: 0px;
    transform: translateY(-70%);
}

/* Switch button */
#switchDisplayBTN {
    background-color: #383838;
    margin-left: 10px;
    margin-right: 10px;
    width: 190px;
}

/* Filter */
#filterSelect {
    background-color: #383838;
    margin-left: 10px;
    margin-right: 10px;
    width: 190px;
    border: #222222 2px solid;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
}

#filterSelect:focus {
    outline: none; /* Remove outline on focus */
    border-color: #222222; /* Change border color on focus */
}

/* Loading text */
#loading {
    display: none;
    text-align: center;
    padding: 10px 0;
}

/* Table of printer data */
#printerTable {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    color:white;
}

#printerTable th, #printerTable td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

#printerTable tr:nth-child(even) {
    background-color: #292929;
    color:white;
}

#printerTable th {
    background-color: #4CAF50;
    color: white;
}

#printerTable th:nth-child(4) {
    width: 20%;
}

/* Printergrid */
#printerGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Cards */
.printer-card {
    background: #292929;
    text-align: center;
    border-radius: 10px;
    margin:10px;
    width:200px;
    height: 250px;
    flex-grow: 1;
    position: relative;
}

.printer-card h3 {
    color: white;
}

.printer-card h4 {
    color: #909090;
}

.printer-status-card {
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 0px;
    height: 40px;
}

.printer-bottom-text {
    color: #383838;
    position: absolute;
    bottom: 10px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position to center */
}

.adressBottomText {
    color: #292929;
    font-size: 10px;
    position: absolute;
    bottom: -10px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position to center */
}

.printerNote {
    color:#909090;
    position: absolute;
    top:15px;
    right: 15px;
}

.printerNoteImportant {
    color:#FF4500;
    position: absolute;
    top:15px;
    right: 15px;
}

/* Status column */
.tooltip {
    cursor: pointer;
}
.status-cell {
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.positionCodeText {
    color: #909090;
    font-weight: bold;
    z-index: 1;
}

.placementCodeDiv {
    position: absolute;
    top:3px;
    left: 15px;
}

.timeleftText {
    color: #909090;
    font-weight: bold;
    z-index: 1;
}

.timeleftDiv {
    position: absolute;
    align-items: center;
    top: 53%;
    width: 100%;
}

.statusText {
    position: relative;
    z-index: 1;
    text-align: center; /* Center text horizontally */
}

/* Footerdiv */
#footerDiv {
    background-color: #232323;
    padding: 1px;
}

.footerText {
    text-align: center; 
    font-size: 15px; 
    color:white;
}

#bottomBanner {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensure it is above other elements */
}

#updatedAutoTextBottomBar {
    display: block; /* Ensure it is displayed */
    text-align: center;
    margin: 0;
    color: white; /* Ensure text is visible */
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
    /* Remove ordinary title */
    #title {
        display: none;
    }

    #mobiletitle {
        display: inline;
    }

    .topnav {
        justify-content: space-between; /* Place items on the left */
        padding: 10px;
    }

    .navbar {
        display: none;
        flex-direction: column;
    }

    .navbar.active {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

    .underSearchDiv {
        display: flex;
        flex-direction: column; /* Arrange children in a column */
        align-items: center; /* Center children horizontally */
    }
    
    #switchDisplayBTN {
        width: 95%;
        font-size: large;
        height: 40px;
    }

    #filterSelect {
        display: none;
    }
    
    #updatedAutoText {
        display: none;
    }

    #bottomBanner {
        display: block;
    }

    #updatedAutoTextBottomBar {
        display: block; /* Ensure it is displayed */
        text-align: center;
        margin: 0;
        color: white; /* Ensure text is visible */
        position: static; /* Ensure relative positioning if needed */
    }
}

/* Make scrollbar thin on the side */
/* For Chrome and Safari */
::-webkit-scrollbar {
    width: 10px; /* Adjust as needed */
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px; 
}
/* For Firefox */
* {
    scrollbar-width: thin; 
    scrollbar-color: #666 #333; 
}