/* Problemdiv */
#problemdiv {
    display: none;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ff0000; /* Light red background */
    padding:5px;
}

#problemtext {
    color: #333; /* Dark text for readability */
}

#dismissProblemDivButton {
    background-color: #909090;
    border-radius: 50%;
    margin-right: 5%;
    cursor: pointer;
}

/* Existing styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #383838;
}

/* Title */
#title {
    text-align: center;
    font-size: 37px;
}
#mobiletitle {
    display: none;
    color: white;
    font-size: 25px;
    margin-left: 20px;
}
/* Topnav */
.topnav {
    position: sticky;
    top: 0px;
    background-color: #333;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    padding-right: 7%;
    z-index: 2;
}

.topnav-content {
    display: flex;
    align-items: center; /* Center items vertically */
}

.navbar {
    list-style-type: none;
    overflow: hidden; /* Hide the content when collapsed */
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navelement {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

.navelement:hover {
    color:#4CAF50;
}

/* Hamburger menu */
.hamburger-menu {
    display: none;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/* Sorting printerdata buttons */
.sortable:hover {
    cursor: pointer;
}
.sortable {
    cursor: pointer;
    background-color: #3d3d3d;
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Search field */
#searchInput {
    /* Sizing */
    width: 99%;
    padding: 10px 20px;
    margin: 8px auto;
    box-sizing: border-box;
    /* Background+ */
    background-color: #2c2c2c;
    border: 2px solid #383838;
    border-radius: 5px;
    /* Text */
    font-size: large;
    color: white;
    /* Other */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: padding 0.3s ease, font-size 0.3s ease;
}

#searchInput::placeholder {
    color: #cccccc;
}

#searchInput:focus {
    outline: none;
    padding: 22px;
    font-size: larger;
}

/* Under search */
.underSearchDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

#updatedAutoText {
    margin-right: 10px;
    margin-left: auto;
    padding: 10px;
    /* BG */
    background-color: #383838;
    background-image: linear-gradient(135deg, #4a4a4a, #383838);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Text */
    color: white;
    font-size: 1rem;
    /* Border */
    border: none;
    border-radius: 5px;
    /* Other */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Switch display mode button, switches from gridview to table view and back */
#switchDisplayBTN {
    /* Sizing */
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 190px;
    /* BG */
    background-color: #383838;
    background-image: linear-gradient(135deg, #4a4a4a, #383838);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Text */
    color: white;
    font-size: 1rem;
    /* Border */
    border: none;
    border-radius: 5px;
    /* Other */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#switchDisplayBTN:hover {
    background-color: #505050;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Filter */
#filterSelect {
    /* Sizing */
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 190px;
    /* BG */
    background-color: #383838;
    background-image: linear-gradient(135deg, #4a4a4a, #383838);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Text */
    color: white;
    font-size: 1rem;
    font-family: 'FontAwesome', 'sans-serif';
    /* Border */
    border: none;
    border-radius: 5px;
    /* Other */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#filterSelect:hover {
    background-color: #363636;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Loading text */
#loading {
    color: #000000;
    display: none;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
}

/* Table of printer data */
#printerTable {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    color:white;
}

#printerTable th, #printerTable td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

#printerTable tr:nth-child(even) {
    background-color: #292929;
    color:white;
}

#printerTable th {
    background-color: #4CAF50;
    color: white;
}

#printerTable th:nth-child(4) {
    width: 20%;
}

/* Printergrid */
#printerGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Cards */
.printer-card {
    background: #292929;
    text-align: center;
    border-radius: 10px;
    margin:10px;
    width:200px;
    height: 250px;
    flex-grow: 1;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.printer-card:hover {
    transform: translateY(-5px); /* Move the card up */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add shadow for hovering effect */
}

.printer-card h3 {
    color: white;
}

.printer-card h4 {
    color: #909090;
}

.printer-status-card {
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 0px;
    height: 40px;
}

.printer-bottom-text {
    color: #909090;
    position: absolute;
    bottom: 20px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position to center */
}

.adressBottomText {
    color: #484848;
    font-size: 12px;
    position: absolute;
    bottom: -5px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position to center */
}

.printerNote {
    color:#909090;
    position: absolute;
    top:15px;
    right: 15px;
}

.printerNote:hover {
    cursor: pointer;
}

.printerNoteImportant {
    color:#FF4500;
    position: absolute;
    top:15px;
    right: 15px;
    cursor: pointer;
}

/* Tooltip container */
.printernoteHover {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 5px;
    border: #222222 solid 3px;
    z-index: 1;
    width: 200px;
}

/* Tooltip arrow */
.printernoteHover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 90%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Status column */
.tooltip {
    cursor: pointer;
}
.status-cell {
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.positionCodeText {
    color: #909090;
    font-weight: bold;
    z-index: 1;
}

.placementCodeDiv {
    position: absolute;
    top:3px;
    left: 15px;
}

.timeleftText {
    color: #909090;
    font-weight: bold;
    z-index: 1;
}

.timeleftDiv {
    position: absolute;
    align-items: center;
    top: 53%;
    width: 100%;
}

.statusText {
    position: relative;
    z-index: 1;
    text-align: center; /* Center text horizontally */
}
/* Printermodal */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    display: grid;
    background-color: #292929;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 10px;
    gap: 5px;
    grid-template-columns: .4fr 1fr 1fr 1fr .2fr;
    grid-template-rows: .5fr .4fr .4fr .4fr .5fr;
    grid-template-areas: "p pn pn . c" 
                         ". pm pm . ."
                         "s s s pt pt"
                         "s s s n n"
                         "lm lm tl . ."
                         "f f a a b";
    animation: modalFadeIn 0.5s ease-out; 
}

/* Modal items */
#modalPlacementCode {
    color: white;
    font-size: 40px;
    font-weight: bold;
    background-color: #909090;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px transparent solid;
    border-radius: 10px;
    grid-area: p;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalPrinterName {
    color: white;
    font-size: 60px;
    font-weight: bold;
    grid-area: pn;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalPrinterModel {
    color: white;
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
    grid-area: pm;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalPrinterStatus {
    grid-area: s;
}

.modalStatus {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 0px;
    height: 100%;
    font-size: 22px;
}

#modalAddress, #modalPrinterTemps, #modalGoToOctoButton, #modalPrinterNote, #modalLoadedModel, #modalTimeLeft, #modalLastUpdated  {
    color: white;
    font-size: 16px;
    margin: 0px;
}

#modalTimeLeft {
    grid-area: tl;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modalTimeLeft {
    height: auto;
}

#modalLoadedModel {
    grid-area: lm;
    display: flex;
    justify-content: center;
    align-items: start;
}
#modalPrinterNote {
    grid-area: n;
    display: flex;
    justify-content: start;
    align-items: center;
}

#modalPrinterTemps {
    grid-area: pt;
    display: flex;
    justify-content: start;
    align-items: center;
}

#modalLastUpdated {
    grid-area: f;
    position: relative;
    top: 50%;
}

#modalGoToOctoButton {
    font-size: 40px;
    grid-area: b;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyButton {
    background-color: transparent;
    border: none;
    color: white;
    margin: 0px;
    cursor: pointer;
}

#modalAddress {
    color: white;
    background-color: #323232;
    padding: 10px;
    font-size:20px;
    width: 70%;
    border: 4px #2c2c2c solid;
    border-radius: 5px;
    grid-area: a;
    margin: 0px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copiedMessage {
    color: rgb(0, 250, 0);
}

.copyButton:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Modal close button */
.close{
    color: #aaa;
    font-size: 50px;
    font-weight: bold;
    grid-area: c;
    /* Moves the button a little more into the corner */
    position: relative;
    bottom: 10px;
    left: 10px;    
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Footerdiv */
#footerDiv {
    background-color: #232323;
    padding: 1px;
}

.footerText {
    text-align: center; 
    font-size: 15px; 
    color:white;
}

#bottomBanner {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensure it is above other elements */
}

#updatedAutoTextBottomBar {
    display: block; /* Ensure it is displayed */
    text-align: center;
    margin: 0;
    color: white; /* Ensure text is visible */
}

/* Responsive styles for mobile */
@media screen and (max-width: 900px) {
    /* Remove ordinary title */
    #title {
        display: none;
    }

    /* Display mobile title */
    #mobiletitle {
        display: inline;
    }

    .topnav {
        justify-content: space-between; /* Place items on the left */
        padding: 10px;
    }

    .navbar {
        display: none;
        flex-direction: column;
    }

    .navbar.active {
        display: flex;
        padding-left: 10px;
        margin:10px;
    }

    .hamburger-menu {
        display: block;
    }

    .underSearchDiv {
        display: flex;
        flex-direction: column; /* Arrange children in a column */
        align-items: center; /* Center children horizontally */
    }
    
    #switchDisplayBTN {
        width: 95%;
        font-size: large;
        height: 40px;
    }

    #filterSelect {
        width: 95%;
        font-size: large;
        height: 40px;
        text-align: center;
        margin-top: 4px;
    }
    
    #updatedAutoText {
        display: none;
    }

    #bottomBanner {
        display: block;
    }

    #updatedAutoTextBottomBar {
        display: block; /* Ensure it is displayed */
        text-align: center;
        margin: 0;
        color: white; /* Ensure text is visible */
        position: static; /* Ensure relative positioning if needed */
    }
}

/* Make scrollbar thin on the side */
/* Chrome and safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px; 
}
/* For Firefox */
* {
    scrollbar-width: thin; 
    scrollbar-color: #666 #333; 
}